@mixin btn($color) {
	background-color: $color;
	box-shadow: 0px 7 17px -10px rgba($color, .3);

	&:hover {
		background-color: darken($color, 10%);
	}

	&:focus{
		background-color: darken($color, 10%);
	}
}

@mixin breakpoint($bp){
	@media (max-width: $bp){
		@content;
	}
}