.burger {
	display: none;
	padding: 0;
	background-color: transparent;
	border: none;

	position: absolute;
	top: 50%;
	left: 1.5rem;
	transform: translateY(-50%);

	width: 3rem;
	height: 2rem;

	span {
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 2px;
		background-color: $white;
		transform: translateY(-50%);
		transition: opacity .3s linear;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $white;
		transition: transform .3s linear;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	.show-sidebar & {
		span {
			opacity: 0;
		}

		&::before,
		&::after {
			top: 50%;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	@include breakpoint($tablet-bp){
		display: block;
	}
}