.comments {
	margin: 5rem 0px 0px 0px;

	&__item {
		>.comments {
			margin: 3rem 0px 0px 0px;
			padding: 0px 0px 0px 3rem;

			@include breakpoint($mobile-bp){
				margin: 1.5rem 0px 0px 0px;
				padding: 0px 0px 0px 1.5rem;
			}
		}
	}

	&__header {
		&:not(:last-child) {
			margin: 0px 0px 1.5rem 0px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin: 0px 0px .5rem 0px;
		}
	}

	&__reply {
		font-family: inherit;
		background-color: transparent;
		border: none;
		padding: 0;
		color: #107EFF;
		transition: color .3s;

		&:hover {
			color: darken(#107EFF, 15%)
		}
	}
}

.comments-header {
	display: flex;
	align-items: center;
	gap: 0 1.5rem;

	&__avatar {
		height: 3rem;
		width: 3rem;
		object-fit: cover;
		border-radius: 50%;
	}

	&__text {
		line-height: calc(14 / 12);
		font-size: 1.2rem;
		flex-grow: 1;
	}

	&__name {
		font-weight: 500;

		&:not(:last-child) {
			margin: 0px 0px 2px 0px;
		}
	}

	&__date {
		color: #757575;
	}
}