.pagination {
	display: flex;
	gap: 0 1rem;
	justify-content: center;
	margin: 8rem 0px 0px 0px;

	@include breakpoint($mobile-bp){
		margin: 5rem 0px 0px 0px;
	}
}

.pagination__link {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0D0D0D;
	box-shadow: 0px 0px 10px rgba($black, .15);
	border-radius: 3px;
	font-family: inherit;
	font-size: 1.4rem;
	line-height: calc(16 / 14);
	text-align: center;
	color: $white;
	text-decoration: none;
	transition: .3s;

	&:hover {
		background-color: lighten(#0D0D0D, 3%);
	}

	&.pagination__link_active {
		background-color: $blue;
		box-shadow: 0px 0px 10px rgba($blue, .15);
	}
}