.post {
	background-color: $primary;
	box-shadow: 0px 15px 25px rgba($black, .35);
	border-radius: 5px;
	padding: 2.5rem;

	&:not(:last-child) {
		margin: 0px 0px 3rem 0px;
	}

	@include breakpoint($mobile-bp) {
		padding: 1.5rem;
	}
}

.post__actions {
	margin: 0 0px 1.5rem 0px;
	display: flex;
	justify-content: space-between;

	a {
		font-family: inherit;
		font-size: 1.2rem;
		line-height: calc(14 / 12);
		color: $white;
		text-decoration: none;
		opacity: .6;
		transition: opacity .3s linear;

		&:hover {
			opacity: 1;
		}
	}
}

.post__actions-icon {
	margin: 0px 0px 0px .5rem;
}

.post__header {
	display: block;
	margin: 0px 0px 2.5rem;

	&_img {
		margin: -2.5rem -2.5rem 2.5rem;
	}

	@include breakpoint($mobile-bp){
		& .embed,
		& .fr-video,
		&_img{
			margin: -1.5rem -1.5rem 2.5rem;
		}
	}
}

.post__img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

	&_no-border-radius {
		border-radius: 0;
	}
}

.post__title {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: calc(21 / 18);
	color: $white;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	&:not(:last-child) {
		margin: 0px 0px 1.5rem 0px;
	}

	&.post__title_mb0:not(:last-child) {
		margin: 0px 0px .4rem 0px;
	}
}

.post__subtitle {
	font-size: 1.6rem;
	line-height: calc(19 / 16);
	font-weight: 500;

	&:not(:last-child) {
		margin: 0px 0px 2rem 0px;
	}
}

.post__content {
	&:not(:last-child) {
		margin: 0px 0px 2rem 0px;
	}
}

.post__description {
	font-size: 1.4rem;
	line-height: calc(21 / 14);
	color: #D2D2D2;
}

.post__text {
	font-size: 1.4rem;
	line-height: calc(21 / 14);
	color: $white;
	border-bottom: 1px solid #1C1C1C;
	padding: 0px 0px 3rem 0px;

	&>*:not(:last-child) {
		margin: 0px 0px 2rem 0px;
	}

	a {
		color: $blue;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		font-size: 1em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.15em;
	}

	ol {
		list-style: decimal inside;
	}

	table {
		width: 100%;
	}
}

.post__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 0;
	flex-wrap: wrap;
}

.post__data {
	display: flex;
	align-items: center;
	gap: .5rem 1.5rem;
	flex-wrap: wrap;
}

.post__label {
	font-family: Lato;
	font-size: 1.4rem;
	line-height: calc(14 / 12);
	color: #828282;
	text-decoration: none;

	&:not(:last-child) {
		position: relative;
		padding: 0px 2.1rem 0px 0px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: .6rem;
			width: .6rem;
			border-radius: 50%;
			background-color: #C4C4C4;
		}
	}

	&:hover {
		text-decoration: underline;
	}
}

.post__date {
	font-family: Lato;
	font-size: 1.2rem;
	line-height: calc(14 / 12);
	color: #828282;

	&:not(:last-child) {
		position: relative;
		padding: 0px 2.1rem 0px 0px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: .6rem;
			width: .6rem;
			border-radius: 50%;
			background-color: #C4C4C4;
		}
	}
}

.post__link {
	display: block;
	font-family: inherit;
	font-size: 1.4rem;
	line-height: calc(16 / 14);
	color: #107EFF;
	text-decoration: none;
	transition: color .3s;

	&:hover {
		color: darken(#107EFF, 15%);
	}
}