.related {
	border-bottom: 1px solid #1C1C1C;
	padding: 1rem 0px 3rem 0px;
	&:not(:last-child){
		margin: 0px 0px 3rem 0px;
	}
}

.related__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem 0;
}

.related__list-item {
	flex: 0 0 calc(50% - 3.4rem);

	@include breakpoint($mobile-bp){
		flex: 1 1 100%;
	}
}

.related__list-title {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: calc(16 / 14);
	color: #F3EBA2;

	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}

		&:not(:last-child){
			margin: 0px 0px .5rem 0px;
		}
	}
}

.realted__list-date{
	font-family: Lato;
	font-size: 1.2rem;
	line-height: calc(14 / 12);
	color: #828282;
}