.search{
	background-color: $primary;
	max-width: 21rem;
	width: 100%;

	&__input{
		display: block;
		width: 100%;
		background: transparent;
		border: none;
		font-family: inherit;
		font-size: 1.2rem;
		color: $white;
		padding: 1.3rem 2rem;


		&::placeholder{
			color: rgba($white, .4)
		}

		@include breakpoint($tablet-bp){
			height: 4rem;
			padding: 1rem 2rem;
			font-size: 1.6rem;
		}
	}
}