.subnav {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 16.5rem;
	box-shadow: 0 6px 8px rgba($black, .2);
	background-color: $blue;

	&__link {
		padding: 1rem 1.2rem;
		display: block;
		font-size: 1.2rem;
		line-height: calc(14 / 12);
		color: $white;
		text-decoration: none;
		transition: background-color .3s ease-in-out;

		&:hover {
			background-color: darken($blue, 10%);
		}
	}
}

.mobile-subnav {
	display: none;
	width: 100%;
	padding: 0px 0px 0px 2rem;

	&__link {
		display: block;
		padding: 1.4rem 0;
		font-size: 1.5rem;
		line-height: calc(14 / 12);
		color: $white;
		text-decoration: none;
	}
}