.work {
	@extend .post;
	display: flex;
	justify-content: stretch;
	overflow: hidden;

	&__prewiev {
		margin: -2.5rem 0 -2.5rem -2.5rem;
		flex: 0 1 50%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		@include breakpoint($mobile-bp) {
			padding-bottom: calc(200 / 575 * 100%);
			flex: 0 1 15rem;
			position: relative;
			top: 0;
			left: 0;
			margin: -1.5rem -1.5rem 1.5rem;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
	}

	&__content {
		flex: 1 0 50%;
		padding: 0px 0px 0px 2.5rem;
		display: flex;
		flex-direction: column;

		@include breakpoint($mobile-bp){
			padding: 0;
			flex: 1 1 auto;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 2.4rem;
		line-height: calc(28 / 24);
		margin: 0px 0px 3rem 0px;

		a {
			font-weight: inherit;
			font-size: inherit;
			color: inherit;
			line-height: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		@include breakpoint($mobile-bp) {
			margin: 0px 0px 1rem 0px;
		}
	}

	&__description {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: calc(27 / 16);
		color: #D2D2D2;
		margin: 0px 0px 3rem 0px;

		@include breakpoint($mobile-bp){
			font-size: 1.4rem;
			margin: 0px 0px 2rem 0px;
		}
	}

	&__tags {
		display: flex;
		flex: 1 1 auto;
		gap: 1rem;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 0px 0px 2rem 0px;
	}

	&__tag-link {
		display: flex;
		height: 21px;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0px 9px;
		font-size: 1.1rem;
		line-height: calc(13 / 11);
		color: $white;
		text-decoration: none;
		background-color: #EA8C1E;
		border-radius: 3px;
		transition: background-color .3s linear;

		&:hover {
			background-color: darken(#EA8C1E, 10%);
		}

		&:focus {
			background-color: darken(#EA8C1E, 10%);
		}
	}

	&__link {
		align-self: flex-end;
		display: inline-block;
		font-size: 1.2rem;
		line-height: calc(14 / 12);
		color: $white;
		text-decoration: none;
		padding: 8px 14px;
		text-align: center;
		background-color: $blue;
		border-radius: 5px;
		box-shadow: 0px 4px 15px -7px rgba($blue, .3);
		transition: background-color .3s linear;

		&:hover {
			background-color: darken($blue, 10%);
		}

		&:focus {
			background-color: darken($blue, 10%);
		}

		@include breakpoint($mobile-bp){
			align-self: flex-start;
		}
	}

	@include breakpoint($mobile-bp) {
		flex-direction: column;
	}
}